

.dark {
  --clr-primary-orange: #ff7902;
  --clr-primary-heading: #EFF1F2;
  --clr-primary-pink: #fe747c;
  --clr-primary-purple: #51459d;
  --clr-primary-green: #00a0c8;
  --clr-primary-body-bg: #1a1c1e;
  --clr-primary-section-bg: #1b1829;
  --clr-primary-body-font: rgba(252, 248, 248, 0.808);
  --clr-primary-border: #f03eac;
  --clr-primary-font: #f3f0fc;
  --clr-primary-blue: #00d9ed;
  --clr-primary-white: #02375a;
  --clr-primary-black: #f3f0fc;
  --clr-primary-body-bg:#ccdeeb;}
.dark .main__content{
    background-color: black;
}
